[Unit]
Description=CastUDP
After=network.target

[Service]
ExecStart=/usr/local/sbin/castudp
WorkingDirectory=/home/pi-star
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi-star

[Install]
WantedBy=multi-user.target
